body {
    padding: 0;
    margin: 0;
    font-size: 14pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    background-color: white;
    min-width: 1400px;
}

.container {
    width: 710px;
    margin: 0 auto;
}

.title__format {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 44pt;
    text-align: center;
}

.btn {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: #323232;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    vertical-align: top;
    background-color: #ffe26d;
    width: 125px;
    border-radius: 2px;
}

.btn:hover {
    color: #fefefe;
    background-color: #62497c;
}

.page__header {
    background-image: url("img/moan2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #48576e;
    padding-top: 40px;
    padding-bottom: 260px;
}

.header__menu {
    display: flex;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__menu {
    margin-left: 190px;
}

.header__menu a {
    text-decoration: none;
    color: #fff;
    font-size: 10pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.header__menu li {
    list-style: none;
    padding-right: 35px;
}

.features__image-block {
    width: 100%;
    position: relative;
    left: 50px;
}

.header__menu a:hover {
    color: #ffe26d;
}

.header__offer {
    margin-top: 113px;
    margin-bottom: 80px;
}

.header__offer h1 {
    color: #fff;
    font-size: 40pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}

.header__offer p {
    color: #adb2bb;
    font-size: 19pt;
    font-family: 'Roboto';
}

.features h2 {
    margin-bottom: 70px;
}

.features__main-block {
    display: flex;
    justify-content: space-between;
}

.features__main-block p {
    font-family: "Roboto";
    font-size: 29pt;
    color: #040405;
    white-space: wrap;
}

.features__blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.features__block-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 190px;
}

.features__block-info img {
    display: block;
    margin: 0px auto 0px auto;
}

.features__block-info h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #62497c;
    text-align: center;
    padding-top: 20px;
}

.features__block-info p {
    color: #040405;
    margin-bottom: 35px;
    margin-top: 15px;
    text-align: center;
}

.btn__learn {
    margin: 0 auto;
}

.features::after {
    content: "";
    width: 694px;
    display: table;
    border-bottom: 2px solid #e7e7e7;
    padding-top: 59px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.projects {
    width: 100%;
    margin: 0 auto;
}

.projects__block {
    display: flex;
    background-color: #efefef;
    margin-bottom: 47px;
}

.projects__block-article {
    display: flex;
    flex-direction: column;
}

.projects h2 {
    margin-bottom: 50px;
}

.projects__block-article h4 {
    text-transform: uppercase;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #040405;
    padding-top: 30px;
    padding-left: 40px;

}

.projects__block-article p {
    text-align: left;
    color: #040405;
    padding-left: 40px;
    padding-right: 20px;
    margin-top: 0px;
    white-space: wrap;
}

.projects .btn__launch__case {
    padding-top: 13px;
    vertical-align: top;
    background-color: #fefefe;
    width: 165px;
    border-radius: 2px;
    white-space: nowrap;
    margin-left: 40px;
    margin-bottom: 60px;
}

.projects .btn__launch__case:hover {
    background-color: #62497c;
}

.projects__block-article:hover {
    background-color: #ffe26d;
}

.prising__table {
    margin-top: 60px;
    padding-bottom: 70px;
}

.prising__table__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.prising__table__tariffe {
    display: flex;
    flex-direction: column;
    width: 185px;
    white-space: nowrap;
    position: relative;
}

.prising__table__tariffe h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #040405;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 0;
}

.prising__table__tariffe h5 {
    text-transform: uppercase;
    color: #bababa;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-left: 40px;
}

.prising__table__tariffe ul {
    list-style: none;
    text-align: center;
    margin-top: 0px;
}

.prising__table__tariffe li {
    font-size: 10pt;
    color: #2c2c2d;
    padding-bottom: 5px;
}

.btn__buy {
    margin-left: 70px;
    width: 80px;
}

.prising__table__tariffe:nth-child(2)::after,
.prising__table__tariffe:nth-child(3)::after {
    content: "";
    height: 240px;
    display: table;
    border-left: 2px solid #bababa;
    position: absolute;
    top: 20px;
}

.video__projects {
    width: 100%;
    margin: 0 auto;
}

.video__projects-container {
    background-color: #62497c;
    padding-top: 30px;
    padding-bottom: 120px;
    overflow: hidden;
}

.video__projects-block {
    display: flex;
    justify-content: space-between;
}


.video__projects-video:nth-child(2) {
    padding-right: 50px;
    padding-left: 50px;
}

.video__projects h2 {
    color: #fff;
}

.video__projects b {
    color: #fff;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-right: 500px;
}

.video__projects time {
    color: #fff;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.zippy__line-first {
    display: flex;
    justify-content: space-between;
}

.zippy__line-second {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    padding-bottom: 130px;
}

.zippy__person {
    display: flex;
    flex-direction: column;
}

.zippy__team h2 {
    margin-top: 70px;
}

.zippy__person h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #040405;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.zippy__person b {
    font-family: 'Montserrat', sans-serif;
    color: #bababa;
    text-align: center;
    font-size: 12pt;
    margin-top: 5px;
}

.zippy__life {
    background-color: #efefef;
    padding-bottom: 90px;
    padding-top: 30px;
}

.zippy__life-gallery {
    display: flex;
    margin-top: 15px;
}

.zippy__life-gallery::before {
    content: "";
    width: 34px;
    height: 66px;
    display: table;
    margin-right: 34px;
    background-color: #2a2a2a;
    background-image: url("img/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
}

.zippy__life-gallery::after {
    content: "";
    width: 34px;
    height: 66px;
    display: table;
    margin-left: 34px;
    background-color: #2a2a2a;
    background-image: url("img/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}

.zippy__life-gallery:hover::before {
    background-color: #62497c;
}

.zippy__life-gallery:hover::after {
    background-color: #62497c;
}

.signup {
    background-image: url("img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e5dddb;
    padding-top: 70px;
    padding-bottom: 120px;
}

.signup h2 {
    color: white;
    margin-top: 0px;
}

.signup__block {
    display: flex;
    justify-content: center;
}

.signup__block input {
    border-radius: 2px;
    border: none;
    width: 415px;
    height: 40px;
}

.blog__main-content {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 10px;
}

.blog h2 {
    margin-top: 70px;
}

.blog__article {
    text-align: center;
}

.blog__article h4 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #040405;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.blog__article time {
    color: #c4c4c4;
    font-size: 10pt;
}

.blog__article p {
    color: #3d3d3e;
    font-size: 12pt;
    margin-bottom: 35px;
}

.blog__article .btn__read {
    background-color: #ececec;
    color: black;
}

.blog__article .btn__read:hover {
    background-color: #ffe26d;
}

.contact__block {
    display: flex;
    position: relative;

}

.contact__block__map {
    position: absolute;
    left: -410px;

}

.contact__block__feedback {
    margin-left: 292px;
    padding-left: 50px;
    padding-right: 100%;
    height: 654px;
    background-color: #ffe26d;
}

.contact__block h2 {
    margin-bottom: 0;
    margin-top: 30px;
    padding-right: 200px;
}

.feedback-form-group label {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 10pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font: inherit;
    color: inherit;
    border: none;
}

.feedback-form textarea {
    display: block;
    min-height: 100px;
}

.checkbox-area {
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 17px;
    border-bottom: 1px solid #d5d5d5;
}

.checkbox-area input[type="checkbox"] {
    margin: 0;
    margin-right: 5px;
}

.contact__block__feedback .btn {
    background-color: #62497c;
    width: 100%;
    margin-top: 40px;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer__block h4 {
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

.footer__block p {
    text-align: center;
    font-size: 10pt;
}